.hero {
    height: 90dvh;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    width: 64%;
    max-width: 27rem;
}

.name {
    width: 36%;
    max-width: 20rem;
}

@media (max-width: 2560px) {
    .character {
        max-width: 35rem;
    }

    .name {
        max-width: 28rem;
    }
}

@media (max-width: 1920px) {
    .character {
        max-width: 27rem;
    }

    .name {
        max-width: 20rem;
    }
}

@media (max-width: 1600px){
    .character {
        max-width: 25rem;
    }

    .name {
        max-width: 18rem;
    }

}

@media (max-width: 1440px) {
    .character {
        max-width: 25rem;
    }

    .name {
        max-width: 18rem;
    }
}

@media (max-width: 1280px) {
    .character {
        max-width: 19rem;
    }

    .name {
        max-width: 12rem;
    }
}

@media (max-width: 1024px) {
    .hero {
        height: calc(90dvh - 4.5rem);
    }

    .character {
        max-width: 17rem;
    }

    .name {
        max-width: 11.5rem;
    }
}

@media (max-width: 950px) {
    .hero {
        height: calc(80dvh - 4rem);
    }

    .character {
        max-width: 16.5rem;
    }

    .name {
        max-width: 9.5rem;
    }

}

@media (max-width: 850px){
    .hero {
        height: calc(75dvh - 3.5rem);
    }

    .character {
        max-width: 16rem;
    }

    .name {
        max-width: 9rem;
    }

}


@media (max-width: 768px) {
    .hero {
        height: 70dvh;
        width: 98%;
        margin: auto;
    }

    .character {
        width: 65%;
        max-width: 15rem;
    }

    .name {
        width: 35%;
        max-width: 7rem;
    }
}



@media (max-width: 650px) {   

    .character {
        max-width: 13rem;
    }

    .name {
        max-width: 6rem;
    }
}

@media (max-width: 430px) {
    .hero {
        flex-direction: column;
        padding: 3rem 0;
    }

    .character {
        width: 60%;
        max-width: 10rem;
    }

    .name {
        width: 40%;
        max-width: 8rem;
    }
}