.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    height: 4.5rem;
    background-color: var(--white);
    box-shadow: 0 0.0625rem 0.8rem var(--light-grey);
    border-radius: 0 0 1rem 1rem;
}

.logo img{
    height: 4rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
    gap: 5rem;
    margin-left: auto;
    align-items: center;
}

.nav-links a {
    color: var(--orange);
    font-family: 'Gotham-Light-2';
    font-size: 2rem;
    font-weight: 700;
}

.nav-links a:hover {
    color: var(--light-orange);
}

@media (max-width: 1440px) {
    .nav-links {
        gap: 4rem;
    }
}

@media (max-width: 1280px) {
    .nav-links {
        gap: 3.2rem;
        margin-right: 3.5rem;
    } 
    .nav-links a {
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) {
    .nav-links {
        gap: 2.8rem;
        margin-right: 3.2rem;
    }
    .nav-links a {
        font-size: 1.5rem;
    }
}

@media (max-width: 950px){
    .navbar{
        height: 4rem;
    }
    .logo img{
        height: 3rem;
    }
    .nav-links {
        gap: 2rem;
        margin-right: 3rem;
    }
    .nav-links a {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {
    .navbar{
        height: 4rem;
    }
    .logo img{
        height: 3rem;
    }
    .nav-links {
        gap: 2rem;
    }
    .nav-links a {
        font-size: 1.1rem;
    }
}

@media (max-width: 700px){
    .navbar{
        height: 3.5rem;
    }
    .logo img{
        height: 2.5rem;
    }
    .nav-links {
        gap: 1.5rem;
        margin-right: 2rem;
    }
    .nav-links a {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .navbar{
        height: 3.5rem;
    }
    .logo img{
        height: 2rem;
    }
    .nav-links {
        gap: 0.3rem;
        margin-right: 0.5rem;
    }
    .nav-links a {
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {
    .navbar{
        height: 3.5rem;
    }
    .logo img{
        height: 2rem;
    }
    .nav-links {
        gap: 0.3rem;
        margin-right: 0.5rem;
    }
    .nav-links a {
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {
    .navbar{
        height: 3.5rem;
        padding: 0.5rem 0.3rem;
    }
    .logo img{
        height: 1.5rem;
    }
    .nav-links {
        margin-right: 0rem;
    }
    .nav-links a {
        font-size: 0.6rem;
    }
}