.diputados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    width: 100%;
}

.diputados h1 {
    font-size: 6rem;
    font-family: 'CompactaDOT-Bold';
    color: var(--orange);
    background: radial-gradient(circle, var(--light-orange), var(--orange));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.diputados-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch
}

.diputados img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    overflow: hidden;
}

.diputados img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media (max-width: 1600px) {
    .diputados h1 {
        font-size: 6rem;
    }

    .diputados img {
        width: 14rem;
        height: 14rem;
    }
}

@media (max-width: 1440px) {
    .diputados h1 {
        font-size: 5rem;
    }

    .diputados img {
        width: 13rem;
        height: 13rem;
    }
}

@media (max-width: 1280px) {

    .diputados img {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 1024px) {
    .diputados h1 {
        font-size: 4rem;
    }

    .diputados img {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 950px) {

    .diputados img {
        width: 8.5rem;
        height: 8.5rem;
    }
}

@media (max-width: 768px) {
    .diputados-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0.5rem;
    }

    .diputados h1 {
        font-size: 3rem;
    }

    .diputados img {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width: 600px) {
    .diputados img {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@media (max-width: 550px) {
    .diputados-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-items: stretch;
        align-items: stretch
    }

    .diputados img {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 425px) {
    .diputados h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 375px) {
    .diputados h1 {
        font-size: 2.5rem;
    }

    .diputados img {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 320px) {    

    .diputados h1 {
        font-size: 2.5rem;
    }

    .diputados img {
        width: 7rem;
        height: 7rem;
    }
}