.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--orange);
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    color: var(--white);
}

.tiempo td{
    font-family: 'Gotham-Bold-2';
    font-size: 6rem;
}

.text td{
    font-family: 'CompactaDOT-Bold';
    font-size: 4rem;
}

.banner h1 {
    font-size: 7rem;
    margin: 1.5rem 0 0 0;
    padding: 0;
    text-align: center;
    font-family: 'CompactaDOT-Bold';
}


.banner table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner td{
    text-align: center;
    padding: 0 0.6rem;
}

@media (max-width: 2560px) {
    .banner h1 {
        font-size: 8rem;
    }
    .text td{
        font-size: 4rem;
    }
    .tiempo td{
        font-size: 7rem;
    }

    .banner td{
        padding: 0 1rem;
    }
}

@media (max-width: 1920px) {
    .banner h1 {
        font-size: 7rem;
    }
    .text td{
        font-size: 4rem;
    }
    .tiempo td{
        font-size: 6rem;
    }
    
    .banner td{
        padding: 0 0.6rem;
    }
}

@media (max-width: 1440px) {
    .banner h1 {
        font-size: 6rem;
    }
    .text td{
        font-size: 3rem;
    }
    .tiempo td{
        font-size: 5rem;
    }
}

@media (max-width: 1280px) {
    .banner h1 {
        font-size: 5rem;
    }
    .text td{
        font-size: 2.5rem;
    }
    .tiempo td{
        font-size: 4rem;
    }
}

@media (max-width: 950px) {
    .banner h1 {
        font-size: 4rem;
    }
    .text td{
        font-size: 2rem;
    }
    .tiempo td{
        font-size: 3rem;
    }
}

@media (max-width: 650px){
    .banner h1 {
        font-size: 3.5rem;
    }
    .text td{
        font-size: 1.8rem;
    }
    .tiempo td{
        font-size: 2.5rem;
    }
}

@media (max-width: 470px){
    .banner h1 {
        font-size: 3rem;
    }
    .text td{
        font-size: 1.8rem;
    }
    .tiempo td{
        font-size: 2rem;
    }
    .banner td{
        padding: 0 0.4rem;
    }

}

@media (max-width: 425px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .text td{
        font-size: 1.5rem;
    }
    .tiempo td{
        font-size: 2rem;
    }
    
}

@media (max-width: 375px) {
    .banner h1 {
        font-size: 2rem;
    }
    .text td{
        font-size: 1.5rem;
    }
    .tiempo td{
        font-size: 2rem;
    }
    

    .banner td{
        padding: 0 0.2rem;
    }
}

@media (max-width: 320px) {
    .banner h1 {
        font-size: 1.5rem;
    }
    .text td{
        font-size: 1.5rem;
    }
    .tiempo td{
        font-size: 2rem;
    }
}

@media (max-width: 300px){
    .banner h1 {
        font-size: 2rem;
    }
    .text td{
        font-size: 1.2rem;
    }
    .tiempo td{
        font-size: 1.5rem;
    }
    .banner td{
        padding: 0 0.1rem;
    }
}